body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u345 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u346 {
  position:absolute;
  left:939px;
  top:380px;
  width:21px;
  height:21px;
}
#u347 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u348 {
  position:absolute;
  left:14px;
  top:11px;
  width:21px;
  height:21px;
}
#u349 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u351 {
  position:absolute;
  left:0px;
  top:364px;
  width:980px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u352 {
  position:absolute;
  left:374px;
  top:135px;
  width:256px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u353 {
  position:absolute;
  left:581px;
  top:172px;
  width:21px;
  height:21px;
}
#u354 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
