body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u529 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u530 {
  position:absolute;
  left:17px;
  top:16px;
  width:21px;
  height:21px;
}
#u531 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u533 {
  position:absolute;
  left:0px;
  top:161px;
  width:980px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u534 {
  position:absolute;
  left:918px;
  top:198px;
  width:21px;
  height:21px;
}
#u535 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
