body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u133 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u134 {
  position:absolute;
  left:14px;
  top:9px;
  width:21px;
  height:21px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:812px;
  top:0px;
  width:168px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u138 {
  position:absolute;
  left:946px;
  top:9px;
  width:21px;
  height:21px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:76px;
  top:172px;
  width:869px;
  height:213px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u141 {
  position:absolute;
  left:886px;
  top:206px;
  width:21px;
  height:21px;
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
