body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u298 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u299 {
  position:absolute;
  left:13px;
  top:16px;
  width:21px;
  height:21px;
}
#u300 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u302 {
  position:absolute;
  left:936px;
  top:16px;
  width:21px;
  height:21px;
}
#u303 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:821px;
  top:0px;
  width:159px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
