body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u364 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u365 {
  position:absolute;
  left:14px;
  top:11px;
  width:21px;
  height:21px;
}
#u366 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368 {
  position:absolute;
  left:792px;
  top:0px;
  width:188px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u369 {
  position:absolute;
  left:939px;
  top:26px;
  width:21px;
  height:21px;
}
#u370 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
