body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u768 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u769 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u770 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u771 {
  position:absolute;
  left:896px;
  top:141px;
  width:21px;
  height:21px;
}
#u772 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u773 {
  position:absolute;
  left:896px;
  top:237px;
  width:21px;
  height:21px;
}
#u774 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775 {
  position:absolute;
  left:626px;
  top:212px;
  width:330px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u777 {
  position:absolute;
  left:626px;
  top:118px;
  width:330px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u778 {
  position:absolute;
  left:0px;
  top:566px;
  width:980px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u779 {
  position:absolute;
  left:929px;
  top:590px;
  width:21px;
  height:21px;
}
#u780 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781 {
  position:absolute;
  left:0px;
  top:786px;
  width:980px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u782 {
  position:absolute;
  left:929px;
  top:795px;
  width:21px;
  height:21px;
}
#u783 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
