body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u750 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u751 {
  position:absolute;
  left:13px;
  top:9px;
  width:21px;
  height:21px;
}
#u752 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u753 {
  position:absolute;
  left:845px;
  top:1083px;
  width:21px;
  height:21px;
}
#u754 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755 {
  position:absolute;
  left:94px;
  top:1062px;
  width:792px;
  height:121px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
