body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u405 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  position:absolute;
  left:67px;
  top:1298px;
  width:402px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u407 {
  position:absolute;
  left:401px;
  top:1323px;
  width:21px;
  height:21px;
}
#u408 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  position:absolute;
  left:524px;
  top:1298px;
  width:402px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u410 {
  position:absolute;
  left:858px;
  top:1323px;
  width:21px;
  height:21px;
}
#u411 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
