body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u171 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u172 {
  position:absolute;
  left:14px;
  top:11px;
  width:21px;
  height:21px;
}
#u173 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
