body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1742px;
}
#u659 {
  position:absolute;
  left:0px;
  top:-42px;
  width:980px;
  height:1742px;
}
#u660 {
  position:absolute;
  left:2px;
  top:863px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u661 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u662 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u664 {
  position:absolute;
  left:831px;
  top:0px;
  width:149px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u665 {
  position:absolute;
  left:949px;
  top:9px;
  width:21px;
  height:21px;
}
#u666 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  position:absolute;
  left:142px;
  top:174px;
  width:838px;
  height:196px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u668 {
  position:absolute;
  left:925px;
  top:202px;
  width:21px;
  height:21px;
}
#u669 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
