body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u189 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u190 {
  position:absolute;
  left:911px;
  top:258px;
  width:21px;
  height:21px;
}
#u191 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u192 {
  position:absolute;
  left:13px;
  top:12px;
  width:21px;
  height:21px;
}
#u193 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195 {
  position:absolute;
  left:629px;
  top:212px;
  width:324px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
