body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u37 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:210px;
}
#u38 {
  position:absolute;
  left:51px;
  top:581px;
  width:287px;
  height:210px;
}
#u39 {
  position:absolute;
  left:2px;
  top:97px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:211px;
}
#u40 {
  position:absolute;
  left:344px;
  top:796px;
  width:287px;
  height:211px;
}
#u41 {
  position:absolute;
  left:2px;
  top:98px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:600px;
  top:1568px;
  width:380px;
  height:132px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:0px;
  top:24px;
  width:131px;
  height:132px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:782px;
  top:232px;
  width:198px;
  height:199px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:343px;
  top:794px;
  width:289px;
  height:214px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:50px;
  top:580px;
  width:289px;
  height:214px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:632px;
  top:1008px;
  width:289px;
  height:214px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:343px;
  top:578px;
  width:289px;
  height:214px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:910px;
  top:261px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:74px;
  top:63px;
  width:20px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:889px;
  top:1584px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:857px;
  top:1054px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u57_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u59 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:366px;
}
#u61 {
  position:absolute;
  left:527px;
  top:122px;
  width:447px;
  height:366px;
}
#u62 {
  position:absolute;
  left:2px;
  top:175px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:537px;
  top:151px;
  width:420px;
  height:103px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:537px;
  top:259px;
  width:420px;
  height:103px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:537px;
  top:367px;
  width:420px;
  height:103px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u66 {
  position:absolute;
  left:915px;
  top:172px;
  width:21px;
  height:21px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u68 {
  position:absolute;
  left:915px;
  top:281px;
  width:21px;
  height:21px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u70 {
  position:absolute;
  left:915px;
  top:390px;
  width:21px;
  height:21px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:273px;
  top:610px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:411px;
  top:1545px;
  width:158px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:838px;
  top:18px;
  width:142px;
  height:148px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:136px;
  top:53px;
  width:408px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:200px;
}
#u77 {
  position:absolute;
  left:136px;
  top:48px;
  width:408px;
  height:200px;
}
#u78 {
  position:absolute;
  left:2px;
  top:92px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:528px;
  top:1559px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u81 {
  position:absolute;
  left:944px;
  top:31px;
  width:20px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u83 {
  position:absolute;
  left:582px;
  top:610px;
  width:20px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:582px;
  top:822px;
  width:20px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
