body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1742px;
}
#u648 {
  position:absolute;
  left:0px;
  top:-42px;
  width:980px;
  height:1742px;
}
#u649 {
  position:absolute;
  left:2px;
  top:863px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u650 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u651 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u653 {
  position:absolute;
  left:831px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u654 {
  position:absolute;
  left:949px;
  top:9px;
  width:21px;
  height:21px;
}
#u655 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656 {
  position:absolute;
  left:401px;
  top:1518px;
  width:172px;
  height:157px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u657 {
  position:absolute;
  left:521px;
  top:1542px;
  width:21px;
  height:21px;
}
#u658 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
