body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u785 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u786 {
  position:absolute;
  left:950px;
  top:11px;
  width:21px;
  height:21px;
}
#u787 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u788 {
  position:absolute;
  left:21px;
  top:11px;
  width:21px;
  height:21px;
}
#u789 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u791 {
  position:absolute;
  left:831px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
