body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
  overflow:hidden;
}
#u204_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u204_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u206 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:372px;
  top:153px;
  width:230px;
  height:251px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u209 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:344px;
}
#u210 {
  position:absolute;
  left:0px;
  top:1700px;
  width:980px;
  height:344px;
}
#u211 {
  position:absolute;
  left:2px;
  top:164px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:0px;
  top:450px;
  width:980px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213 {
  position:absolute;
  left:0px;
  top:569px;
  width:980px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215 {
  position:absolute;
  left:0px;
  top:1581px;
  width:980px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u216 {
  position:absolute;
  left:596px;
  top:192px;
  width:21px;
  height:21px;
}
#u217 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u218 {
  position:absolute;
  left:17px;
  top:13px;
  width:21px;
  height:21px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u220 {
  position:absolute;
  left:933px;
  top:478px;
  width:21px;
  height:21px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u222 {
  position:absolute;
  left:933px;
  top:591px;
  width:21px;
  height:21px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
