body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u249 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u250 {
  position:absolute;
  left:939px;
  top:380px;
  width:21px;
  height:21px;
}
#u251 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u252 {
  position:absolute;
  left:22px;
  top:14px;
  width:21px;
  height:21px;
}
#u253 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u255 {
  position:absolute;
  left:0px;
  top:342px;
  width:980px;
  height:109px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u256 {
  position:absolute;
  left:939px;
  top:14px;
  width:21px;
  height:21px;
}
#u257 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:811px;
  top:0px;
  width:169px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
