body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u355 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u356 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u357 {
  position:absolute;
  left:14px;
  top:11px;
  width:21px;
  height:21px;
}
#u358 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u360 {
  position:absolute;
  left:792px;
  top:0px;
  width:188px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u361 {
  position:absolute;
  left:939px;
  top:26px;
  width:21px;
  height:21px;
}
#u362 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
