body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u635 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u636 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u637 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u639 {
  position:absolute;
  left:831px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u640 {
  position:absolute;
  left:949px;
  top:9px;
  width:21px;
  height:21px;
}
#u641 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
