body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1742px;
}
#u430 {
  position:absolute;
  left:0px;
  top:-42px;
  width:980px;
  height:1742px;
}
#u431 {
  position:absolute;
  left:2px;
  top:863px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u432 {
  position:absolute;
  left:17px;
  top:16px;
  width:21px;
  height:21px;
}
#u433 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u435 {
  position:absolute;
  left:0px;
  top:1589px;
  width:980px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u436 {
  position:absolute;
  left:824px;
  top:1613px;
  width:21px;
  height:21px;
}
#u437 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
