body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u682 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u683 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u684 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u686 {
  position:absolute;
  left:831px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u687 {
  position:absolute;
  left:949px;
  top:9px;
  width:21px;
  height:21px;
}
#u688 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
