body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u181 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u182 {
  position:absolute;
  left:938px;
  top:289px;
  width:21px;
  height:21px;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u184 {
  position:absolute;
  left:14px;
  top:12px;
  width:21px;
  height:21px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u187 {
  position:absolute;
  left:0px;
  top:273px;
  width:980px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
