body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u537 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u538 {
  position:absolute;
  left:17px;
  top:16px;
  width:21px;
  height:21px;
}
#u539 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u541 {
  position:absolute;
  left:0px;
  top:148px;
  width:980px;
  height:1009px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u542 {
  position:absolute;
  left:920px;
  top:194px;
  width:21px;
  height:21px;
}
#u543 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
