body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u34 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:324px;
  top:851px;
  width:289px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
