body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u801 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u802 {
  position:absolute;
  left:814px;
  top:386px;
  width:21px;
  height:21px;
}
#u803 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
