body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u762 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u764 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:427px;
}
#u765 {
  position:absolute;
  left:251px;
  top:447px;
  width:426px;
  height:427px;
}
#u766 {
  position:absolute;
  left:2px;
  top:206px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
