body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1742px;
}
#u376 {
  position:absolute;
  left:0px;
  top:-42px;
  width:980px;
  height:1742px;
}
#u377 {
  position:absolute;
  left:2px;
  top:863px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u378 {
  position:absolute;
  left:17px;
  top:16px;
  width:21px;
  height:21px;
}
#u379 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u381 {
  position:absolute;
  left:347px;
  top:713px;
  width:290px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u382 {
  position:absolute;
  left:285px;
  top:157px;
  width:410px;
  height:421px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u383 {
  position:absolute;
  left:642px;
  top:713px;
  width:290px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u384 {
  position:absolute;
  left:55px;
  top:931px;
  width:290px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u385 {
  position:absolute;
  left:348px;
  top:931px;
  width:290px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u386 {
  position:absolute;
  left:632px;
  top:203px;
  width:21px;
  height:21px;
}
#u387 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u388 {
  position:absolute;
  left:884px;
  top:735px;
  width:21px;
  height:21px;
}
#u389 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u390 {
  position:absolute;
  left:587px;
  top:735px;
  width:21px;
  height:21px;
}
#u391 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u392 {
  position:absolute;
  left:304px;
  top:735px;
  width:21px;
  height:21px;
}
#u393 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u394 {
  position:absolute;
  left:304px;
  top:947px;
  width:21px;
  height:21px;
}
#u395 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396 {
  position:absolute;
  left:52px;
  top:713px;
  width:290px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
