body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u553 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u554 {
  position:absolute;
  left:17px;
  top:16px;
  width:21px;
  height:21px;
}
#u555 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556 {
  position:absolute;
  left:253px;
  top:1576px;
  width:223px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u557 {
  position:absolute;
  left:0px;
  top:3px;
  width:164px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u558 {
  position:absolute;
  left:419px;
  top:1595px;
  width:21px;
  height:21px;
}
#u559 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
