body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u149 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u150 {
  position:absolute;
  left:14px;
  top:9px;
  width:21px;
  height:21px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:812px;
  top:0px;
  width:168px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u154 {
  position:absolute;
  left:946px;
  top:9px;
  width:21px;
  height:21px;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
