body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u820 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u821 {
  position:absolute;
  left:947px;
  top:14px;
  width:21px;
  height:20px;
}
#u822 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u823 {
  position:absolute;
  left:14px;
  top:14px;
  width:21px;
  height:20px;
}
#u824 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u826 {
  position:absolute;
  left:821px;
  top:0px;
  width:159px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
