body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u319 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u320 {
  position:absolute;
  left:14px;
  top:13px;
  width:21px;
  height:21px;
}
#u321 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
