body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u225 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u226 {
  position:absolute;
  left:13px;
  top:12px;
  width:21px;
  height:21px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u228 {
  position:absolute;
  left:733px;
  top:599px;
  width:21px;
  height:21px;
}
#u229 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u231 {
  position:absolute;
  left:159px;
  top:571px;
  width:661px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
