body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1742px;
}
#u464 {
  position:absolute;
  left:0px;
  top:-42px;
  width:980px;
  height:1742px;
}
#u465 {
  position:absolute;
  left:2px;
  top:863px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u466 {
  position:absolute;
  left:17px;
  top:16px;
  width:21px;
  height:21px;
}
#u467 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u469 {
  position:absolute;
  left:0px;
  top:1589px;
  width:980px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u470 {
  position:absolute;
  left:773px;
  top:1616px;
  width:21px;
  height:21px;
}
#u471 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
