body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u643 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644 {
  position:absolute;
  left:116px;
  top:901px;
  width:375px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u645 {
  position:absolute;
  left:491px;
  top:901px;
  width:376px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u646 {
  position:absolute;
  left:784px;
  top:934px;
  width:21px;
  height:21px;
}
#u647 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
