body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u104 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u105 {
  position:absolute;
  left:924px;
  top:221px;
  width:21px;
  height:21px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u107 {
  position:absolute;
  left:613px;
  top:142px;
  width:21px;
  height:21px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u109 {
  position:absolute;
  left:598px;
  top:430px;
  width:21px;
  height:21px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u111 {
  position:absolute;
  left:598px;
  top:544px;
  width:21px;
  height:21px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u113 {
  position:absolute;
  left:598px;
  top:658px;
  width:21px;
  height:21px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u115 {
  position:absolute;
  left:598px;
  top:769px;
  width:21px;
  height:21px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u117 {
  position:absolute;
  left:598px;
  top:901px;
  width:21px;
  height:21px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:405px;
  width:712px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:403px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u121 {
  position:absolute;
  left:712px;
  top:0px;
  width:268px;
  height:1700px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u122 {
  position:absolute;
  left:0px;
  top:520px;
  width:712px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u123 {
  position:absolute;
  left:0px;
  top:750px;
  width:712px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  position:absolute;
  left:0px;
  top:865px;
  width:712px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125 {
  position:absolute;
  left:0px;
  top:635px;
  width:712px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  position:absolute;
  left:271px;
  top:247px;
  width:119px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u127 {
  position:absolute;
  left:358px;
  top:281px;
  width:21px;
  height:21px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:980px;
  width:712px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u130 {
  position:absolute;
  left:598px;
  top:1019px;
  width:21px;
  height:21px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
