body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u88 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90 {
  position:absolute;
  left:615px;
  top:218px;
  width:320px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u91 {
  position:absolute;
  left:12px;
  top:9px;
  width:21px;
  height:21px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u93 {
  position:absolute;
  left:907px;
  top:252px;
  width:21px;
  height:21px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
