body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u233 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u234 {
  position:absolute;
  left:730px;
  top:598px;
  width:21px;
  height:21px;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u236 {
  position:absolute;
  left:20px;
  top:14px;
  width:21px;
  height:21px;
}
#u237 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u239 {
  position:absolute;
  left:153px;
  top:570px;
  width:670px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
