body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u329 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u330 {
  position:absolute;
  left:17px;
  top:14px;
  width:21px;
  height:21px;
}
#u331 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
