body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u157 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:0px;
  top:996px;
  width:980px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  position:absolute;
  left:0px;
  top:1265px;
  width:980px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u161 {
  position:absolute;
  left:940px;
  top:1023px;
  width:21px;
  height:21px;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u163 {
  position:absolute;
  left:940px;
  top:1290px;
  width:21px;
  height:21px;
}
#u164 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u165 {
  position:absolute;
  left:14px;
  top:9px;
  width:21px;
  height:21px;
}
#u166 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u167 {
  position:absolute;
  left:940px;
  top:1135px;
  width:21px;
  height:21px;
}
#u168 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:0px;
  top:1108px;
  width:980px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
