body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u736 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u737 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u738 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739 {
  position:absolute;
  left:626px;
  top:212px;
  width:330px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u741 {
  position:absolute;
  left:0px;
  top:566px;
  width:980px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u742 {
  position:absolute;
  left:929px;
  top:590px;
  width:21px;
  height:21px;
}
#u743 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744 {
  position:absolute;
  left:0px;
  top:786px;
  width:980px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u745 {
  position:absolute;
  left:929px;
  top:795px;
  width:21px;
  height:21px;
}
#u746 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u747 {
  position:absolute;
  left:915px;
  top:238px;
  width:21px;
  height:21px;
}
#u748 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
