body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u701 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u702 {
  position:absolute;
  left:17px;
  top:12px;
  width:21px;
  height:21px;
}
#u703 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u705 {
  position:absolute;
  left:91px;
  top:1064px;
  width:800px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u706 {
  position:absolute;
  left:786px;
  top:1100px;
  width:21px;
  height:21px;
}
#u707 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
