body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u448 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u449 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  position:absolute;
  left:69px;
  top:1301px;
  width:393px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u451 {
  position:absolute;
  left:386px;
  top:1324px;
  width:21px;
  height:21px;
}
#u452 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453 {
  position:absolute;
  left:526px;
  top:1301px;
  width:393px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u454 {
  position:absolute;
  left:843px;
  top:1324px;
  width:21px;
  height:21px;
}
#u455 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
