body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u96 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u97 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  position:absolute;
  left:260px;
  top:1570px;
  width:217px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u101 {
  position:absolute;
  left:416px;
  top:1600px;
  width:21px;
  height:21px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
