body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u731 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u732 {
  position:absolute;
  left:88px;
  top:12px;
  width:21px;
  height:21px;
}
#u733 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
