body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u615 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u616 {
  position:absolute;
  left:9px;
  top:9px;
  width:21px;
  height:21px;
}
#u617 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u618 {
  position:absolute;
  left:949px;
  top:796px;
  width:21px;
  height:21px;
}
#u619 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620 {
  position:absolute;
  left:643px;
  top:216px;
  width:328px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u622 {
  position:absolute;
  left:0px;
  top:1021px;
  width:980px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u623 {
  position:absolute;
  left:949px;
  top:1040px;
  width:21px;
  height:21px;
}
#u624 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625 {
  position:absolute;
  left:0px;
  top:1135px;
  width:980px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u626 {
  position:absolute;
  left:949px;
  top:1154px;
  width:21px;
  height:21px;
}
#u627 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628 {
  position:absolute;
  left:643px;
  top:313px;
  width:328px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u629 {
  position:absolute;
  left:922px;
  top:229px;
  width:21px;
  height:21px;
}
#u630 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u631 {
  position:absolute;
  left:922px;
  top:325px;
  width:21px;
  height:21px;
}
#u632 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633 {
  position:absolute;
  left:0px;
  top:751px;
  width:980px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
