body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u311 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u312 {
  position:absolute;
  left:939px;
  top:172px;
  width:21px;
  height:21px;
}
#u313 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u314 {
  position:absolute;
  left:9px;
  top:12px;
  width:21px;
  height:21px;
}
#u315 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u317 {
  position:absolute;
  left:0px;
  top:160px;
  width:980px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
