body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u713 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u715 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:427px;
}
#u716 {
  position:absolute;
  left:263px;
  top:434px;
  width:426px;
  height:427px;
}
#u717 {
  position:absolute;
  left:2px;
  top:206px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
